

.tool{
  margin: 0 auto;
  border: 1px solid var(--gray-400);
  border-radius: 30px;
  padding: 0.625rem 1.25rem;
  width: fit-content;
}

.tools {
  overflow: auto;
  min-width: 400px;
  margin-top: 6.875rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* @media (max-width: 768px) {
  .tools{
    overflow: hidden;
  }
} */

.separator{
  height: 1px;
  width: 80px;
  background-color: var(--gray-400);
}