footer{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 4rem;
  gap: 1rem;
}
.socialMedia{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.link{
  color: var(--black-);
  text-decoration: none;
  font-weight: bold;
}
.skill{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: 425px) {
  footer{
    flex-direction: column;
  }
}