:root {
  --white-: #F3F3F3;
 --black-: #1B181A;
 --gray-400: #695F67;
 --gray-100: #DEDEDE;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--white-);
  color: var(--black-);
  -webkit-font-smoothing: antialeased;
  
  font-family: 'Poppins', sans-serif;

}
.container {
  margin: 0 auto;
  max-width: 71.25rem;
  width: 100%;
 padding: 1.5rem ;  

  
}

:focus{
  outline: transparent;
  box-shadow: 0 0 0 2px var(--black-);
}
.fadeIn {
  animation: fadeIn forwards;
  opacity: 0;
  animation-duration: 1.5s;
  animation-delay: 500ms;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fadeUp {
  animation: fadeUp forwards;
  opacity: 0;
  animation-duration: 1.5s;
  animation-delay: 500ms;
}